<!DOCTYPE HTML>
<html>
<head>
    <title> Blue Bank</title>
    <link rel="stylesheet" href="/public/style/estilo.css" type="text/css">
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/jquery.js"></script>
</head>
    <body>
        <div id="container">
            <img src="/public/images/coins.svg">
            <div class="login">
                <form action="#" method="post">
                    
                    <span>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                         <input type="text" placeholder="Conta Corrente" name="conta">
                    </span>
                    
                    <span>
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" placeholder="Password" name"senha">
                    </span>
                </form>
                <button id="login" type="button"> Cadastrar </button>
                
                <a href="transf.html">
                    <button id="login" type="button"> Entrar </button>
                </a>
                
                
                <div class="box">
                    <p> Esqueci minha senha</p>
                </div>
            </div>
        </div>
    
    </body>
</html>