<!DOCTYPE HTML>
<html>
<head>
    <title> Blue Bank</title>
    <link rel="stylesheet" href="/public/style/estilo.css" type="text/css">
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
</head>
    <body>
        <div id="container1">
            <div class="caixa">
                <div id="user">
                    <img id="userr" src="/public/images/user.svg">
                    <section>
                        <h1><b>Nome:</b> Tester Name</h1>
                        <h1><b>C/c:</b> 012345-67</h1>
                        <a href="index.html" style="font-size:15px">Sair</a>
                    </section>
                </div>
                <aside>
                 <h2><b>Saldo Disponível</b></h2>
                    <h3>R$2.750,00</h3>
                </aside>
                <div id="credito">
                    <h2><b>Limite Disponível</b></h2>
                    <h3>R$1.600,00</h3>
                </div>
                <div id="debito">
                    <h2><b>Saldo Disponível</b></h2>
                    <h3>R$2.750,00</h3>
                </div>
                <form >
                    <input type="number" name="transf" placeholder="Número da conta a transferir">

                    <input type="number" name="transf" placeholder="Quantidade em reais a transferir">
                    
                    <input id="button_transf" type="submit" value="Transferir">
                </form>
            </div>
        </div>
    
    </body>
</html>